@{
    ViewData["Title"] = "Mot de passe oublié";
    Layout = "_AuthenticationLayout";
}

<main class="form-container">
    <form>
        <h3>Mot de passe oublié</h3>
        <div class="form-element">
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" required placeholder="user@example.com"/>
        </div>
        <div class="button-container">
            <button>Envoyer le lien de réinitialisation</button>
        </div>
    </form>    
</main>