@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

body {
    width: 100%;
}

header {
    width: 100%;
    height: 300px;
    background-color: #6765e058;
    overflow: hidden;
}

.couvercle {
    width: 100%;
    height: 100%;
    position: relative;
}

video {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.products {
    width: 100%;
    max-width: 1000px;
    margin: 100px auto 100px auto;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    justify-content: space-between;
}

.products .product {
    box-shadow: 1px 1px 10px #7a7a7a70;
    padding: 1px;
    width: max-content;
    border-radius: 3px;
}


.product .img-container {
    width: 200px;
    height: 200px;
}

.img-container img {
    width: 100%;
    height: 100%;
}

.product .actions {
    padding: 0px 10px 10px 10px;
}

.product .product-info {
    padding-left: 12px;
    color: #333;
    font-size: 14px;
}

.product .product-info p {
    margin: 8px 0;
}

.product .actions button {
    background-color: #6765e0;
    padding: 5px 8px;
    border: none;
    color: white;
    border-radius: 3px;
}

.stars img {
    width: 18px;
}